@charset "UTF-8";

/* ==============================================
   ==================== Base ====================
   ============================================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
section,
nav,
aside,
header,
footer,
hgroup,
img {
    display: block;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

li {
    list-style: none;
}


/* ==============================================
   ==================== Body ====================
   ============================================== */
html {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    color: #333;
    font-size: 100%;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN',
    'Meiryo', 'ÉÅÉCÉäÉI' sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}


/* =====================================================
   ==================== Site Header ====================
   ===================================================== */
.site-header {
    width: 100%;
    padding: 10px 0;
    background-color: #444;
}

.site-header h1 {
    height: 60px;
    font-size: 220%;
    line-height: 60px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .site-header h1 {
        height: 40px;
        font-size: 180%;
        line-height: 40px;
    }
}

.site-header h1 a {
    color: #fff;
    -webkit-text-shadow: 2px 2px 4px #ccc;
    -moz-text-shadow: 2px 2px 4px #ccc;
    text-shadow: 2px 2px 4px #ccc;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.site-header h1 a:hover {
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}


/* ==============================================
   ==================== Main ====================
   ============================================== */
.main {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 610px;
    margin: 0 auto;
    padding: 20px 15px;
}

@media screen and (max-width: 640px) {
    .wrap {
        width: 96%;
        padding: 3% 2%;
    }
}

/* ========== Above Game ========== */
.above-game {
    height: 50px;
    margin-bottom: 10px;
    padding: 5px 20px 5px;
    font-size: 200%;
    overflow: hidden;
    zoom: 1;
}

@media screen and (max-width: 480px) {
    .above-game {
        height: 40px;
        font-size: 140%;
    }
}

.above-game .box {
    display: block;
    height: 40px;
    padding: 5px 30px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px #333;
    -moz-box-shadow: 2px 2px 4px #333;
    box-shadow: 2px 2px 4px #333;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

@media screen and (max-width: 480px) {
    .above-game .box {
        height: 30px;
        padding: 5px 20px;
        line-height: 30px;
    }
}

.above-game p.box {
    background-color: #876;
    color: #fff;
    float: left;
}

.above-game a.box {
    background-color: #ec4;
    color: #fff;
    cursor: pointer;
    float: right;
}

.above-game a.box:hover {
    background-color: #db4;
    box-shadow: none;
}

/* ========== Game Board ========== */
.game-board {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    background-color: #666;
}

.game-board ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    zoom: 1;
}

.game-board ul li {
    width: 16.666666666666666666666%;
    height: 16.666666666666666666666%;
    float: left;
}

/* Card */
.card {
    box-sizing: border-box;
    margin: 5px;
    background-color: #ccc;
    border: solid 3px #83c;
    -webkit-box-shadow: 4px 4px 8px #333;
    -moz-box-shadow: 4px 4px 8px #333;
    box-shadow: 4px 4px 8px #333;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    transition: All 0.2s ease;
    cursor: pointer;
}

.card:not(.card-got):hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.card-selected {
    margin: 2px;
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 8px #333;
    -moz-box-shadow: 4px 4px 8px #333;
    box-shadow: 4px 4px 8px #333;
 }

.card-got {
    margin: 5px;
    background-repeat: no-repeat;
    border: none;
}

.card-user {
    background-image: url("../img/userCard.png");
}

.card-cpu {
    background-image: url("../img/cpuCard.png");
}


/* =====================================================
   ==================== Site Footer ====================
   ===================================================== */
.site-footer {
    width: 100%;
    padding: 20px 0 80px;
    background-color: #444;
}

@media screen and (max-width: 480px) {
    .site-footer {
        padding: 10px 0 60px;
    }
}

.site-footer p {
    text-align: center;
}

.site-footer p small {
    color: #999;
    font-size: 100%;
}

@media screen and (max-width: 480px) {
    .site-footer p small {
        font-size: 80%;
    }
}

.site-footer p small a {
    color: #ddd;
    -webkit-text-shadow: 2px 2px 4px #ccc;
    -moz-text-shadow: 2px 2px 4px #ccc;
    text-shadow: 1px 1px 2px #ccc;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.site-footer p small a:hover {
    color: #fff;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}